:host.active {
  .inner-pokeball {
    height: 100%;
    width: 100%;
    background-color: transparent;

    &::after {
      width: 3px;
      height: 55%;
      border-radius: 1px;
      border: none;
      transform: translate(-50%,-50%) rotate(-45deg);
    }

    &::before {
      background-color: #fff;
      width: 3px;
      height: 55%;
      border-radius: 1px;
      border: none;
      left: 50%;
      transform: translate(-50%,-50%) rotate(45deg);
    }
  }
}

.search-button {
  border: none;
  padding: 0;
  width: 35px;
  height: 35px;
  border-radius: 12px;
  background-color: #fa5150;
  box-shadow: 2px 2px 16px 4px #fa505044;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s, box-shadow 0.3s;
  position: relative;

  &:hover {
    box-shadow: 2px 2px 16px 4px #fa50507c;
  }

  &:active {
    transform: scale(0.92);
  }
}

.inner-pokeball {
  position: absolute;
  height: 55%;
  width: 55%;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.5s;

  &.rotate {
    transform: rotate(180deg);
  }
}

.inner-pokeball::after {
  content: "";
  position: absolute;
  background-color: #fff;
  border: 3.5px solid #fa5150;
  border-radius: 50%;
  width: 20%;
  height: 20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inner-pokeball::before {
  content: "";
  background-color: #fa5150;
  width: 100%;
  height: 3px;
  top: 50%;
  left: 0;
  position: absolute;
  transform: translateY(-50%);
}
