<div class="nav-wrapper">
  <div class="prev" (click)="emitPreviousPoke()">
    <ng-container *ngIf="pokeId > 1">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-chevron-left"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
        />
      </svg>
      <img
        [src]="prev?.sprites.other['official-artwork'].front_default"
      />
      <div class="poke-text">
        <div class="poke-id">#{{ prev?.id }}</div>
        <div class="poke-name">{{ getPokemonName(prev?.name) }}</div>
      </div>
    </ng-container>
  </div>
  <div class="next" (click)="emitNextPoke()">
    <div class="poke-text">
      <div class="poke-id">#{{ next?.id }}</div>
      <div class="poke-name">{{ getPokemonName(next?.name) }}</div>
    </div>
    <img
      [src]="next?.sprites.other['official-artwork'].front_default"
    />
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-chevron-right"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
      />
    </svg>
  </div>
</div>
