.sort-range-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  align-items: center;
  color: var(--text-title-color);
  font-weight: 500;
}

.sorting {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 6px;
}

.range-wrapper {
  display: flex;
  gap: 6px;
}

.range-wrapper input {
  border: 1px solid var(--text-title-color);
  border-radius: 6px;
  width: 55px;
  height: 25px;
  background-color: var(--background-color);
  padding-left: 6px;
  font-family: 'Poppins', sans-serif;
  text-align: center;

}

