.search-wrapper {
  border-radius: 20px;
  border: 1px solid rgba(238, 238, 238);
  box-shadow: 2px 3px 10px rgba(5, 5, 165, 0.04);
  background-color: #fff;
  display: flex;
  flex-flow: row nowrap;
  padding: 8px 8px 8px 24px;
  z-index: 2;
  min-width: 100%;

  &:focus-within {
    box-shadow: 4px 4px 15px 8px rgba(0,0,0,0.1);
  }
}

.search-wrapper input {
  flex: 1;
  border: none;
  font-family: "Poppins", sans-serif;
  color: var(--text-title-color);
  font-weight: 500;

  &:focus {
    outline: none;
  }

  &::placeholder {
    font-family: "Poppins", sans-serif;
    color: var(--text-number-color);
    font-weight: 400;
  }
}

.search-wrapper app-button-search {
  width: 30px;
  height: 30px;
}

.search-results {
  width: 100%;
  min-height: 300px;
  max-height: 600px;
  overflow-y: auto;
  border-radius: 20px;
  background-color: #fff;
  margin-top: 16px;
  position: absolute;
  box-shadow: 4px 4px 15px 8px rgba(0,0,0,0.1);
}
