.backdrop {
  z-index: 1;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.1);
  backdrop-filter: blur(3px);
}

.container {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding-top: 30px;
  min-height: 100vh;
  justify-content: center;
}

.container .left-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-right: 30px;
}

app-search-bar {
  width: calc(100% - 70px);
  position: relative;
  z-index:2;
}

app-sort-range {
  margin-top: 16px;
  width: calc(100% - 80px);
  margin-bottom: 16px;
}

.poke-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
  column-gap: 30px;
  overflow-y: auto;
  padding: 60px 30px 0 30px;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #cacaca;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgb(175, 175, 175);
  }
}

app-entry {
  transition: transform 0.5s, opacity 0.5s;
  transform: translateX(0px);
  opacity: 1;
  z-index: 2;

  &.hidden {
    transition: opacity 0.25s;
    opacity: 0;
  }

  &.search-active {
    filter: drop-shadow(4px 4px 15px rgba(0,0,0,0.1));
  }
}

app-fab-scroll {
  position: fixed;
  bottom: 16px;
  right: 295px;
  z-index: 3;
}

app-pikachu-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
