<app-pikachu-loading
  class="initial"
  [hidden]="!loadingInitial"
></app-pikachu-loading>

<ng-container *ngIf="!loadingInitial">
  <div class="backdrop" *ngIf="searchActive"></div>

  <div class="container">
    <div class="left-container">
      <app-search-bar
        [(searchActive)]="searchActive"
        [class.active]="searchActive"
        (updatePoke)="setActivePokemon($event)"
      ></app-search-bar>

      <app-sort-gen
        (sortResult)="onSortResult($event)"
        (genResult)="onGenResult($event)"
      ></app-sort-gen>

      <app-pikachu-loading
        class="gen"
        [hidden]="!loadingGen"
      ></app-pikachu-loading>

      <div class="poke-grid-container" *ngIf="!loadingGen">
        <app-card
          *ngFor="let poke of pokemons; trackBy: trackPokemonById"
          [poke]="poke"
          (click)="setActivePokemon(poke)"
        ></app-card>
      </div>
    </div>

    <app-entry
      [class.search-active]="searchActive"
      (update)="setActivePokemon($event)"
      *ngIf="activePokemon"
      [pokemon]="activePokemon"
      #entry
    ></app-entry>
  </div>

  <app-fab-scroll
    *ngIf="showFabScrollTop"
    (click)="scrollToTop()"
  ></app-fab-scroll>
</ng-container>
